
<div class="writer">
  <form class="form-signin" method="post" action="/dashboard/<%=action%>">
    <input type="hidden" name="blogid" value="<%=blogid%>" />
    <input type="text" name="title" class="input-block-level" placeholder="Otsikko" value="<%=blogTitle%>" />

    <div class="url-container hidden">
        Blogin osoite: http://<%=url%>.bloggaa.fi/<span class="url"></span>
    </div>
    <textarea name="content" class="input-block-level" placeholder="Blogauksen sisältö"><%=blogContent%></textarea>

    <div class="clearfix"></div>
    <button class="btn btn-large btn-primary" type="submit">Tallenna</button>
  </form>
</div>
