<%= include header.ejs %>

    <div class="container writer">
      <form class="form-signin" method="post" action="/<%=action%>">
        <h2 class="form-signin-heading">Sana on vapaa :)</h2>
        <input type="text" name="title" class="input-block-level" placeholder="Otsikko" value="<%=blogTitle%>" />
        <textarea name="content" class="input-block-level" placeholder="Viestin sisältö"><%=blogContent%></textarea>

        <div class="clearfix"></div>
        <button class="btn btn-large btn-primary" type="submit">Tallenna</button>
      </form>
    </div>


<%= include footer.ejs %>