<%= include header.ejs %>

<div class="container">

  <div class="row-fluid">
    <div class="span6">
      <fieldset>
      <legend>Blogin hallinta
        <small><a href="/dashboard/settings">Blogin asetukset</a> - 
          <a href="http://<%=url%>.<%=domain%>">Oma blogi</a>
        </small>
        </legend>
          <h4>Kirjoita ;)</h4>
          <%= include blogeditor.ejs %>
      </fieldset>
    </div>
    <div class="span6">
      <fieldset>
      <legend>Kirjoitukset</legend>
        <%
        if(data.length === 0) {
        %>
        Ei vielä kirjoituksia, voit kirjoittaa koska vaan vasemmalla olevasta formista.
        <%
        }
        data.forEach(function(data, i) {
        %>
        <p>
          <a href="/dashboard/edit/<%=data._id%>"><i class="icon-edit"></i> Muokkaa</a>
          <a href="/dashboard/delete/<%=data._id%>"><i class="icon-remove"></i> Poista</a>
          <%
          if(!data.hidden) {
          %>
            <a href="/dashboard/hide/<%=data._id%>"><i class="icon-flag"></i> Piilota</a>
          <%
          } else {
          %>
            <a href="/dashboard/show/<%=data._id%>"><i class="icon-flag"></i> Poista piilotus</a>
          <%
          }
          %>
          -
          <a href="http://<%=url%>.<%=domain%>/<%=data.url%>"><%=data.title%></a>
        </p>
        <%
        });
        %>
      </fieldset>
    </div>
  </div>


</div>
<%= include footer.ejs %>