<%= include header.ejs %>

<%
data.forEach(function(data, i) {
%>
  <p><a href="http://<%=data.url%>.<%=domain%>"><%=data.name%></a> - <span class="muted"><%=moment(data.added).fromNow()%></span></p>
<%
});
%>

<%= include footer.ejs %>