<%= include header.ejs %>

<%
data.forEach(function(data, i) {
%>
  <h1><a href="http://<%=data.url%>.<%=domain%>/<%=data.url%>"><%=data.title%></a></h1>
  <p>
    <%-data.content.replace("\n", "<br />")%>
  </p>
<%
});
%>

<%= include footer.ejs %>