<%= include header.ejs %>

<%
data.forEach(function(row, i) {
%>
  <p><a href="http://<%=row.url%>.<%=domain%>"><%=row.name%></a> - <span class="muted"><%=moment(row.added).fromNow()%></span></p>
<%
});
%>

<%= include footer.ejs %>