<%= include header.ejs %>

<link rel="stylesheet" href="/css/libs/select2.css" />

<div class="container settings">
  <div class="row">
    <div class="span6">
      <form class="form-signin" method="post" action="/dashboard/settings">
        <input type="hidden" name="id" value="<%=blog._id%>" />
        <fieldset>
          <legend>Päivitä blogin tietoja</legend>
          <label>
            Blogin nimi
            <input type="text" name="name" class="input-block-level" placeholder="Blogin nimi" value="<%=blog.name || ""%>" />
          </label>
          <label>
            Blogin osoite
            <input type="text" name="url" class="input-block-level" placeholder="Blogin osoite" value="<%=blog.url || ""%>" />
          </label>

          <label>
            Kuvaus blogistasi
            <textarea name="description" class="input-block-level" placeholder="Kuvaus blogistasi"><%=blog.description || ""%></textarea>
          </label>
          <label>
            Vapaamuotoista tekstiä joka näkyy blogisi reunassa
            <textarea name="sidebar" class="input-block-level" placeholder="Vapaamuotoista tekstiä joka näkyy blogisi reunassa"><%=blog.sidebar || ""%></textarea>
          </label>

          <label>
            Google Analytics seuranta ID
            <input type="text" name="googleanalytics" class="input-block-level" placeholder="Google Analytics -tunnus" value="<%=blog.googleanalytics || ""%>"  />
          </label>

          <label>
            AddThis ID, omaa linkkiseurantaa varten
            <input type="text" name="addthis" class="input-block-level" placeholder="AddThis ID" value="<%=blog.addthis || ""%>" />
          </label>
          <!--
          <label>
            Otsikon fontti
            <input type="text" name="titlefont" class="input-block-level" placeholder="Fontti" value="<%=blog.titlefont || ""%>" />
          </label>
          <label>
            Sisällön fontti
            <input type="text" name="contentfont" class="input-block-level" placeholder="Fontti" value="<%=blog.contentfont || ""%>" />
          </label>
          -->
          
          <label>
            Blogin teema<br />
            <select name="theme">
              <option value="default">Default</option>
              <option value="kukkatheme">Kukka</option>
              <option value="simple-amelia">Amelia</option>
              <option value="simple-Cerulean">Cerulean</option>
              <option value="simple-cosmo">Cosmo</option>
              <option value="simple-cyborg">Cyborg</option>
              <option value="simple-journal">Journal</option>
              <option value="simple-readable">Readable</option>
              <option value="simple-simplex">Simplex</option>
              <option value="simple-slate">Slate</option>
              <option value="simple-spacelab">Spacelab</option>
              <option value="simple-spruce">Spruce</option>
              <option value="simple-superhero">Superhero</option>
              <option value="simple-united">United</option>
            </select>
          </label>

          <div class="well well-small">
            <h3>Valitse blogin kommentointi</h3>
            <p>Mikäli haluat blogillesi kommentoinnin, valitse alla olevista kahdesta vaihtoehdosta haluamasi ja täytä omilla tiedoillasi</p>
          </div>

          <label class="checkbox">
            <%
            var comments_disabled = "";
            if (blog.commentsDisabled) {
              comments_disabled = 'checked="checked"';
            }
            %>
            <input type="checkbox" name="comments_disabled" value="1" <%=comments_disabled%> /> Kommentointi pois päällä
          </label>

          <ul class="nav nav-tabs" id="tab">
            <li class="active"><a href="#disqus">Disqus</a></li>
            <li><a href="#facebook">Facebook</a></li>
          </ul>
           
          <div class="tab-content">
            <div class="tab-pane active" id="disqus">
              <label>
                Disqus tunnus, kommentointia varten
                <input type="text" name="disqus" class="input-block-level" placeholder="Disqus -tunnus" value="<%=blog.disqus || ""%>" />
              </label>
            </div>
            <div class="tab-pane" id="facebook">
              <label>
                Facebook App ID, kommentointia varten
                <input type="text" name="facebookComments" class="input-block-level" placeholder="Facebook App ID" value="<%=blog.facebookComments || ""%>" />
              </label>
            </div>
          </div>
 
          <button class="btn btn-large btn-primary" type="submit">Tallenna blogin tiedot</button>
        </fieldset>
      </form>
    </div>

    <div class="span6">
      <form class="form-signin" method="post" action="/dashboard/settings/account">

        <fieldset>
          <legend>Päivitä tunnuksen tiedot</legend>
          <label>
            Email
            <input type="email" name="email" class="input-block-level" placeholder="Email" value="<%=session.user.email%>" />
          </label>
          <label>
            Salasana
            <input type="password" name="password" class="input-block-level" placeholder="Salasana" />
          </label>
          <label>
            Salasana uudelleen
            <input type="password" name="password2" class="input-block-level" placeholder="Salasana uudelleen" />
          </label>

          <div class="clearfix"></div>
          <button class="btn btn-large btn-primary" type="submit">Tallenna tunnuksen tiedot</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<%= include footer.ejs %>