<%= include header.ejs %>

<div class="container">
  <%
  if(blog.name || blog.description) {
  %>
    <div class="well well-small">
      <%
      if(blog.name) {
      %>
        <h1><%=blog.name%></h1>
      <%
      }
      if(blog.description) {
      %>
        <p><%=blog.description%></p>
      <%
      }
      %>
    </div>
  <%
  }
  %>

  <div class="row">
    <div class="span8">

      <div class="blog-post">
        <h1><%=data.title%></h1>
        <p>
          <small class="muted"><%=moment(data.added).fromNow()%></small>
        </p>
        <p>
          <%-data.content.replace(/\n/g, "<br />")%>
        </p>
        <%
        if(data.tags) {
          %><p><%
          var tags = data.tags.split(",");
          tags.forEach(function(tag) {
          %>
            <a href="http://<%=domain%>/tag/<%=encodeURIComponent(tag)%>"><%=tag%></a>
          <%
          });
          %></p><%
        }
        %>
        <!--
        <p>
          <a href="http://<%=domain%>/like/<%=data._id%>" class="like icon-heart-empty" title="Tykkää"></a>
          <a href="http://<%=domain%>/dashboard/reblog/<%=data._id%>" class="reblog icon-retweet" title="Rebloggaa"></a>
        </p>
        -->

        <div class="addthis_toolbox addthis_default_style">
          <a class="addthis_button_facebook"></a>
          <a class="addthis_button_twitter"></a>
          <a class="addthis_button_stumbleupon"></a>
          <a class="addthis_button_formspring"></a>
          <a class="addthis_button_tumblr"></a>
          <a class="addthis_button_compact"></a>
          <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=<%=blog.addthis%>"></script>
      </div>
      <div class="blog-post">

        <%
        if(blog.disqus) {
        %>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          var disqus_shortname = '<%=blog.disqus%>';

          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        <%
        } else if(blog.facebookComments) {
        %>
        <div class="fb-comments" data-href="http://<%=blog.url%>.<%=domain%>/<%=data.url%>" data-width="470" data-num-posts="10"></div>
        <%
        }
        %>

      </div>
    </div>

    <div class="span4">
      <%= include sidebar.ejs %>
    </div>

  </div> <!-- row-fluid -->

  <ul class="pager">
    <li class="previous disabled">
      <a href="#">&larr; Edellinen blogaus</a>
    </li>
    <li class="next">
      <a href="#">Seuraava blogaus &rarr;</a>
    </li>
  </ul>

</div> <!-- container -->

<%= include footer.ejs %>